# Android Studio
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Gradle
*.log
/app/build/
/.gradle/

# Kotlin
*.class
*.kotlin_module

# Dependency directories
/app/libs/
/app/src/main/assets/

# Sensitive information
*.keystore
local.properties

# Virtual machine crash logs
hs_err_pid*

# Android testing
/app/build/test-results/
/app/build/reports/